.feature-box {
  background-color: rgba($color-white, 0.8);
  padding: 2.5rem;
  font-size: 1.5rem;
  border-radius: 3px;
  text-align: center;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.35);
  transition: all .2s;

  @include respond(tab-port) {
    padding: 1.5rem;
    width: 80%;
    margin: 0 auto;
  }
  @include respond(phone) {
    width: 65%;
  }

  &__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;

    @include respond(tab-port) {
      margin-bottom: 0;
    }
  }

  &:hover {
    transform: translateY(-1.9rem);
  }

}

