.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  background-color: rgba(white, .6);
  padding: 6rem;
  border-radius: 3px;
  font-size: $default-font-size;
  transform: skewX(-12deg);

  & > * {
    transform: skewX(12deg);
  }

  &__shape {
    height: 15rem;
    width: 15rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative;
    overflow: hidden;
    border-radius: 500px;

    @include respond(phone) {
      transform: translateX(-3rem) skewX(0);
    }
  }

  &__image {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden;
    transition: all .5s;

  }

  &__text {

    @include respond(phone) {
      transform: skewX(0);
    }
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: white;
    text-align: center;
    font-size: 1.7rem;
    text-transform: uppercase;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden;
    padding-left: 3rem;
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-65%, -50%);
  }

  &:hover &__image {
    transform: translate(-4rem) scale(1);
    filter: blur(3px) brightness(.8);
  }

  &:not(:last-child) {
    margin: 5rem auto;
  }

  @include respond(tab-port) {
    width: 100%;
    padding: 4rem;
    padding-left: 7rem;
  }

  @include respond(phone) {
    transform: skewX(0);

  }
}